
/****************************************************************************************************
2. GLOBAL STYLES
****************************************************************************************************/
html, body {/*background: #04ad5d*;*/font: normal "Noto Sans";color: #666;}

h1 {font: 700 50px/60px "Noto Sans";color: #333;}
h2 {padding: 78px 0 0 0;font: 700 40px "Noto Sans";color: #333;text-align: center;text-transform: uppercase;}

a {
-webkit-transition: color .4s ease-in-out, background .4s ease-in-out, border-color .4s ease-in-out;
        transition: color .4s ease-in-out, background .4s ease-in-out, border-color .4s ease-in-out;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 0.2em solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1em;
    transition: 0.3s;
    font-size: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #99f;
    border: 0.1em solid #ccc;
    letter-spacing: 0.05em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 0.1em solid #ccc;
    border-top: none;
}

/* BUTTONS */
.btn {
    border: 0.1em solid;
    font-weight: bold;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    -webkit-border-radius: 0.75em;
    border-radius: 0.75em;
}
.btn.active {
    border: 0.05em solid;
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 0.05em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

/* TOOLTIPS */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/****************************************************************************************************
4. MAIN PAGE
****************************************************************************************************/
.gap5 {
    width: 100%;
    height: 5em;
    display: block;
}
.gap2 {
    width: 100%;
    height: 2em;
    display: block;
}
.gap1 {
    width: 100%;
    height: 1em;
    display: block;
}
.gap0 {
    width: 100%;
    height: 0.5em;
    display: block;
}

/******************************************* HEADER *******************************************/
header {width: 100%;height: 0;/*position: fixed;*/z-index: 100;
-webkit-transition: height .25s ease-in-out;
        transition: height .25s ease-in-out;
}
header .back_top_mobile {display: none;}
header.normal {height: 100px;}

header.stuck {height: 50px;}
/******************************************** TINYCOIN CLIENT INTORMATION *******************************************/
#tinycoin-client { 
    width: : 100%; 
    /* one of the display:flex or overflow:hidden is enough.*/
    display: flex; 
    /*overflow: hidden;*/ /*overflow: hidden resizes the parent container*/;
}

/******************************************* TINYCOIN SERVER URL DIVISION *******************************************/
#url-division { 
    width: 50%; 
    font-size: 1em; 
    margin: auto;
}
#url-division input[type=url] { font-size: 1em; }

/******************************************* MINER ADDRESS DIVISION *******************************************/
#miner-division { 
    width: 50%; 
    font-size: 1em; 
    margin: auto;
}
#miner-division input[type=text] { font-size: 1em; }
/**************************************************************************************** Miner Information **/
#miner-information { 
    font-size: 1em;
    margin: auto;
}
#miner {
    width: 80%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
/**************************************************************************************** Miner Operations **/
#miner-operation { 
    font-size: 1em;
    display: flex;
    margin: auto;
}
#get-miner, #update-miner {
    margin: auto;
    width: 35%;    
}
/******************************************* PEERS DIVISION *******************************************/
#peers-division {
    font-size: 1em;
    display: none;
    width: auto;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#peer-list {
    width:40%;
    font-size: 1em;
    margin: auto;
}
#peer-input-list {
    width: 40%;
    font-size: 1em;
    margin: auto;
}
#peer-operations {
    width: 20%;
    margin: auto;
}

/******************************************* TRANSACTION DIVISION *******************************************/
#transaction-division {
    font-size: 1em;
    display: none;
    width: auto;
    margin: auto;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#txn, #clrtxn {
    margin: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;    
}

/******************************************* MINE, CONSENSUS, BLOCKS *******************************************/
#other-operations-division {
    font-size: 1em;
    display: none;
    width: auto;
    margin: auto;
    padding-bottom: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-left: 0.1em;
}
#mine, #consensus, #blocks {
    width: 30%;
    float: auto;
    margin: auto;
    padding-bottom: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-left: 0.1em;
}

/******************************************* RESULTS *******************************************/
#results-division {
    width: 60%;
    float: auto;
    margin: auto;

    padding-bottom: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-left: 0.1em;
}
#results {
    width: auto;
    margin: auto;
    border-style: 0.2em solid;
    display: block;
}
