/****************************************************************************************************
TOC
1. CSS RESET
2. GLOBAL STYLES
3. PAGE PRELOADER
4. MAIN PAGE
5. RESULTS TABLE


COLORS
cyan    #449bb5
blue    #043d5d
blue1   #043d4d
red     #eb5055
green   #68c39f
light   #fffcf5
****************************************************************************************************/



/****************************************************************************************************
1. CSS RESET
****************************************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, header, section, footer, aside, nav, article
{margin: 0;padding: 0;border: 0;outline: none !important;vertical-align: top;background: transparent;line-height: 1.5em;}

header, section, footer, aside, nav, article {display: block;}

ol, ul {list-style: none;}

img {max-width: 100%;}


/****************************************************************************************************
2. GLOBAL STYLES
****************************************************************************************************/
html, body {/*background: #04ad5d*;*/font: normal "Noto Sans";color: #666;}

h1 {font: 700 50px/60px "Noto Sans";color: #333;}
h2 {padding: 78px 0 0 0;font: 700 40px "Noto Sans";color: #333;text-align: center;text-transform: uppercase;}

a {
-webkit-transition: color .4s ease-in-out, background .4s ease-in-out, border-color .4s ease-in-out;
        transition: color .4s ease-in-out, background .4s ease-in-out, border-color .4s ease-in-out;
}


/* BUTTONS */
.btn {
        border: 0.05em solid;
        font-weight: bold;
        /*text-transform: uppercase;*/
        letter-spacing: 0.1em;
        -webkit-border-radius: 0;
        border-radius: 0;
}
.btn_shadow {
-webkit-box-shadow: 2px 2px 1px 1px #043d5d;
        box-shadow: 2px 2px 1px 1px #043d5d;

-webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}
.btn_shadow:hover {
-webkit-box-shadow: 1px 1px 0px 0px #043d5d;
        box-shadow: 1px 1px 0px 0px #043d5d;

-webkit-transform: translate3d(2px,2px,1px);
        transform: translate3d(2px,2px,1px);
}



/* TRANSITIONS */
.trs_all {
-webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}
.trs_size {
-webkit-transition: width .3s ease-in-out, height .3s ease-in-out;
        transition: width .3s ease-in-out, height .3s ease-in-out;
}
.trs_color {
-webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border-color .3s ease-in-out;
        transition: color .3s ease-in-out, background .3s ease-in-out, border-color .3s ease-in-out;
}
.trs_indent {
-webkit-transition: margin .3s ease-in-out, padding .3s ease-in-out;
        transition: margin .3s ease-in-out, padding .3s ease-in-out;
}
.trs_position {
-webkit-transition: top .3s ease-in-out, right .3s ease-in-out, bottom .3s ease-in-out, left .3s ease-in-out;
        transition: top .3s ease-in-out, right .3s ease-in-out, bottom .3s ease-in-out, left .3s ease-in-out;
}
.trs_transform {
-webkit-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
}
.trs_opacity {
-webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/****************************************************************************************************
3. PAGE PRELOADER
****************************************************************************************************/
@-webkit-keyframes cog1 {
        0% {
        -webkit-transform: rotate3d(0,0,1,0deg);
                transform: rotate3d(0,0,1,0deg);
        }

        100% {
        -webkit-transform: rotate3d(0,0,1,360deg);
                transform: rotate3d(0,0,1,360deg);
        }
}

@keyframes cog1 {
        0% {
        -webkit-transform: rotate3d(0,0,1,0deg);
                transform: rotate3d(0,0,1,0deg);
        }

        100% {
        -webkit-transform: rotate3d(0,0,1,360deg);
                transform: rotate3d(0,0,1,360deg);
        }
}

@-webkit-keyframes cog2 {
        0% {
        -webkit-transform: rotate3d(0,0,1,0deg);
                transform: rotate3d(0,0,1,0deg);
        }

        100% {
        -webkit-transform: rotate3d(0,0,1,-360deg);
                transform: rotate3d(0,0,1,-360deg);
        }
}

@keyframes cog2 {
        0% {
        -webkit-transform: rotate3d(0,0,1,0deg);
                transform: rotate3d(0,0,1,0deg);
        }

        100% {
        -webkit-transform: rotate3d(0,0,1,-360deg);
                transform: rotate3d(0,0,1,-360deg);
        }
}

#preloader {width: 100%;height: 100%;overflow-x: hidden;overflow-y: hidden;background: #fff;position: fixed;left: 0;top: 0;z-index: 1000;}
#preloader div {width: 76px;height: 68px;display: block;margin: -35px 0 0 -40px;position: absolute;left: 50%;top: 50%;z-index: 1001;}

#preloader i {display: inline-block;font: 50px 'ElegantIcons';position: absolute;}

#preloader i.cog1 {color: #68c39f;left: 0;top: 0;
-webkit-animation: cog1 2s linear infinite;
        animation: cog1 2s linear infinite;
}

#preloader i.cog2 {font-size: 35px;color: #043d5d;right: 0;bottom: 0;
-webkit-animation: cog2 2s linear infinite;
        animation: cog2 2s linear infinite;
}



/****************************************************************************************************
4. MAIN PAGE
****************************************************************************************************/


/******************************************* HEADER *******************************************/
header {width: 100%;height: 0;/*position: fixed;*/z-index: 100;
-webkit-transition: height .25s ease-in-out;
        transition: height .25s ease-in-out;
}
header .back_top_mobile {display: none;}
header.normal {height: 100px;}

header.stuck {height: 50px;}
/******************************************** TINYCOIN CLIENT INTORMATION *******************************************/
#tinycoin-client { 
        width: : 100%; 
        /* one of the display:flex or overflow:hidden is enough.*/
        display: flex; 
        /*overflow: hidden;*/ /*overflow: hidden resizes the parent container*/;
}

/******************************************* TINYCOIN SERVER URL DIVISION *******************************************/
#url-division { width: 50%; font-size: 1.5em; }
#url-division input[type=url] { font-size: 1em; }

/******************************************* MINER ADDRESS DIVISION *******************************************/
#miner-division { 
        width: 50%; 
        font-size: 1.5em; 
}
#miner-division input[type=text] { font-size: 1em; }
/**************************************************************************************** Miner Information **/
#miner-information { 
        font-size: 1em;
}
/**************************************************************************************** Miner Operations **/
#miner-operation { 
        font-size: 1em;
        display: flex;
}





/****************************************** FOOTER *******************************************/
footer {padding: 20px 0;background: #043d5d;}

.footer_left {float: left;}
.footer_left p {font-size: 15px;line-height: 50px;color: #fff;
opacity: .25;
}


.footer_right {float: right;}

footer .back_top {width: 50px;height: 50px;display: inline-block;border: 2px solid #68c39f;color: #68c39f;text-align: center;cursor: pointer;}
footer .back_top i {font-weight: bold;font-size: 30px;line-height: 45px;}
footer .back_top:hover {border-color: #fff;color: #fff;}

footer .social_links {display: inline-block;padding: 0 10px 0 0;font-size: 0;}
footer .social_links li {display: inline-block;}
footer .social_links li ~ li {margin: 0 0 0 10px;}
footer .social_links a {height: 50px;display: inline-block;padding: 0 25px;color: #fff;text-align: center;}
footer .social_links a:hover {color: #68c39f;}
footer .social_links i {font-size: 22px;line-height: 50px;}

/* 5. RESULTS TABLE *****************************************************************************/
.resdiv {
	overflow-x: auto;
	overflow-y: auto;
}

.restable {
	border: 2px solid black; 
	padding: 5; 
	spacing:5; 
	table-layout: fixed;
}
.restable_row {
	border-bottom: 0.5px solid grey;
	padding: 5px;
}
.restable_col {
	display: inline-block;
	word-wrap: break-word;
	padding: 5px;
}
.restable_col1 {
	max-width: 75px;
}
.restable_col2 {
	max-width: 65px;
	text-align: right;
}
.restable_col3 {
	max-width: 205px;
}
.restable_col4 {
	max-width: 400px;
}
